# Python
__pycache__/
*.pyc
venv/               # Ignora o ambiente virtual

# Flask/SQLAlchemy
*.sqlite            # Ignora bancos de dados SQLite (como o nosso sghss.db)
/sghss.db           # Especificamente o banco que criamos
/instance/

# IDEs (Opcional, mas recomendado)
.vscode/
.idea/

# Variáveis de Ambiente (que contêm chaves secretas)
.env